.Main {
	// --main-margin-top: 20px;
	--main-margin-top: 0px;

	position: relative;

	margin-top: var(--main-margin-top); /* Статус бар */
	padding: 0 10px;

	height: calc(100% - var(--main-margin-top)); /* Статус бар */

	display: grid;
	grid-template-rows: max-content 1fr max-content;
	row-gap: 12px;

	overflow: hidden;
}

.Game {
	position: relative;
	height: 100%;

	display: grid;
	grid-template-rows: 1fr max-content;

	background: linear-gradient(to bottom, #12652f 0%, #038d42 50%, #0f6e34 100%);

	overflow: hidden;
}

.PageHolder {
	position: relative;
	display: flex;
}

.AdHolder {
	--font-color: #000;

	position: relative;
	height: 50px;
	border: 1px solid #000;

	select {
		width: 100%;
		height: 100%;
		color: #000;
	}
}

.Welcome {
	padding-top: 15px;
	padding-bottom: 30px;
	text-align: center;

	.WelcomeTitle {
		font-size: calc(var(--font-size) + 8px);
		font-weight: 300;
		line-height: 1.25;
	}

	.WelcomeModulo {
		font-size: calc(var(--font-size) + 14px);
		font-weight: 600;
		line-height: 1.25;
	}
}

.SignInLanguagePanel {
	justify-self: end;

	.SignInLanguagePanelFlag {
		width: 20px;
		height: 20px;

		&[data-country="ru"] {
			background-image: url(../img/flags/ru.svg);
		}
		&[data-country="eng"] {
			background-image: url(../img/flags/usa.svg);
		}
	}
}

.HeadNavigation {
	margin-top: 10px;

	min-height: 30px;

	display: grid;
	grid-auto-flow: column;
	grid-template-columns: max-content 1fr max-content;
	column-gap: 12px;
	align-items: center;

	&[data-column="1"] {
		grid-template-columns: 1fr;
	}
	&[data-column="2"] {
		grid-template-columns: 1fr max-content;
	}

	.Title {
		font-size: calc(var(--font-size) + 4px);
		font-weight: 300;
	}

	.Modulo {
		font-size: calc(var(--font-size) + 10px);
		font-weight: 600;
	}

	.ButtonGreen.IconMenu {
		width: 30px;
		height: 30px;
	}
}

.ContentGap {
	display: grid;
	row-gap: 10px;
	align-content: start;
	align-items: start;
}

.ProfileContainer {
	position: absolute;
	right: 10px;
	bottom: 7px;

	width: calc(100% - 10px);

	display: grid;
	grid-auto-flow: column;
	grid-template-columns: max-content 1fr;
	column-gap: 7px;
	align-items: end;

	pointer-events: none;

	> .Character {
		max-width: 80px;

		> img {
			width: 100%;
			height: 100%;
		}
	}

	.Userbar {
		--userbar-padding-top: 5px;
		--userbar-padding-left: 7px;
		--userbar-br: 5px;

		position: relative;

		padding: var(--userbar-padding-top) var(--userbar-padding-left);

		width: 100%;
		height: 34px;

		display: grid;
		grid-auto-flow: column;
		grid-template-columns: 1fr max-content;
		place-items: center;

		background-color: #c92a20;
		border-radius: var(--userbar-br);
		box-shadow: var(--common-bh);

		pointer-events: all;

		> li {
			position: relative;

			padding: 0 10px;

			&::after {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);

				content: "";

				width: 1px;
				height: 70%;

				background-color: #000;
				opacity: 0.25;
			}

			&:last-child::after {
				opacity: 0;
			}
		}

		> .ChangeSmile {
			position: relative;

			width: 100%;
			height: 100%;

			> .IconSmile {
				position: absolute;
				top: calc(var(--userbar-padding-top) * -1);
				left: calc(var(--userbar-padding-left) * -1);

				width: calc(100% + var(--userbar-padding-left));
				height: calc(100% + var(--userbar-padding-top) * 2);

				background-image: url(/src/img/icon/smile.svg);
				background-size: 24px;
				border-radius: var(--userbar-br) 0 0 var(--userbar-br);

				&:active {
					background-color: rgba(0, 0, 0, 0.2);
				}
			}
		}

		> .Nickname {
			> p {
				font-weight: 500;
				text-transform: uppercase;
			}
		}

		> .Stats {
			display: grid;
			grid-auto-flow: column;
			column-gap: 5px;
			place-items: center;

			> .IconStar {
				width: 12px;
				height: 12px;
				background-image: url(/src/img/icon/star.svg);
			}

			> p {
				font-weight: 300;
			}
		}
	}
}

.UserTip {
	position: relative;

	margin: 0 auto;

	width: 95%;
	height: 100%;
	max-height: 80px;

	background: rgba(0, 0, 0, 0.1);
	border-radius: 10px;

	overflow: hidden;

	> p {
		padding: 10px 15px;

		height: 100%;
		border-radius: inherit;

		font-size: calc(var(--font-size) - 1px);
		font-weight: 500;
		text-align: center;
		letter-spacing: 0.15px;

		overflow-y: auto;
	}

	&::after {
		position: absolute;
		top: 0;
		left: 0;

		content: "";
		width: 100%;
		height: 100%;

		box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: inherit;
		pointer-events: none;
	}
}

.FooterArea {
	padding: 10px 0;

	display: grid;
	row-gap: 10px;

	> button {
		background-color: var(--button-footer-bg);

		&:active {
			background-color: var(--button-footer-bg-hover);
		}
	}
}

.SignIn {
	.Buttons {
		display: grid;
		row-gap: 7px;
	}

	.UserTip {
		max-height: 120px;
	}
}

.SignInAuth {
	.UserTip {
		max-height: unset;
	}

	form {
		display: grid;
		row-gap: 10px;
	}
}

.SignInAnonim {
	.SignInAnonimContent {
		display: grid;
		row-gap: 10px;

		justify-items: center;

		img {
			height: 180px;
		}

		.TextBlock {
			display: grid;
			row-gap: 7px;

			.Tip {
				font-weight: 500;
				text-align: center;
			}

			.CreateAcc {
				font-weight: 500;
				text-align: center;
				text-decoration: underline;
			}
		}
	}
}

.SignUp {
	form {
		display: grid;
		row-gap: 10px;
	}
}

.GameList {
	height: 100%;

	display: grid;
	grid-template-rows: max-content 1fr;
	align-content: start;

	overflow-y: hidden;

	.ButtonBig {
		background: 97% center / 16px no-repeat url(/src/img/buttons/right-arrow_dark-green.svg),
			linear-gradient(90deg, #2eb062 0%, var(--brand-color) 100%);

		color: var(--button-darkgreen);

		&:active {
			background: 97% center / 16px no-repeat url(/src/img/buttons/right-arrow_dark-green.svg),
				linear-gradient(90deg, #279654 0%, #2eb062 100%);
		}
	}

	.SubMenu {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: 1fr max-content;
		column-gap: 12px;
		align-items: center;
	}

	.List {
		@include scrollhide;

		padding-bottom: 75px;
		overflow-y: auto;

		> .Finished {
			--finished-margin-top: 12px;

			position: relative;

			margin-top: var(--finished-margin-top);
			margin-bottom: calc(34px + 7px * 2);
			padding-left: 17px;

			height: max-content;

			display: grid;
			row-gap: 12px;
			align-content: start;

			&::after {
				position: absolute;
				top: 0;
				left: 5px;

				content: "";

				width: 2px;
				height: 100%;

				background-color: var(--brand-color);
			}
		}

		ul {
			display: grid;
			row-gap: 5px;

			li {
				display: grid;

				overflow: hidden;

				> .ListInfo {
					padding: 5px;

					display: grid;
					grid-auto-flow: column;
					grid-template-columns: max-content 1fr max-content;
					place-items: center;

					> .PlayerContainer {
						width: 90px;
						height: 100%;

						display: grid;
						row-gap: 5px;
						justify-items: center;

						overflow: hidden;

						p {
							font-size: calc(var(--font-size) - 4px);
							font-weight: 300;
							text-align: center;
							text-transform: uppercase;
							line-height: 1;

							@include textWrapDots;
						}

						> .Avatar[data-bot="1"] {
							background-image: url(../img/icon/bot.svg);

							> img {
								display: none;
							}
						}

						&[data-win="1"] {
							.Avatar::after {
								position: absolute;
								right: -5px;
								bottom: -3px;

								content: "";
								display: block;

								width: 18px;
								height: 18px;
								background-image: url(../img/icon/medal.svg);
							}
						}
					}

					> .RoundNameContainer {
						display: grid;
						row-gap: 7px;
						justify-items: center;

						p {
							text-align: center;
							text-transform: uppercase;
							line-height: 1;
						}

						> p.Title {
							font-size: calc(var(--font-size) + 2px);
						}

						.Cup {
							margin-bottom: -3px; /* Смещение вниз для визуального расположения по центру*/

							display: grid;
							grid-auto-flow: column;
							grid-auto-columns: max-content;

							column-gap: 3px;
							place-items: center;

							> p {
								font-size: calc(var(--font-size) - 4px);
								font-weight: 300;
							}

							> .IconCup {
								width: 10px;
								height: 10px;
								background-image: url(../img/icon/cup.svg);
							}
						}
					}
				}

				> .ListBar {
					position: relative;

					padding: 5px 0 3px 0;

					background-color: rgba(0, 0, 0, 0.25);

					p {
						font-size: calc(var(--font-size) - 4px);
						font-weight: 300;
						line-height: 1;
						text-align: center;
						text-transform: uppercase;
					}

					> .ELO {
						position: absolute;
						top: 0;
						left: 0;

						width: 100%;
						height: 100%;

						> p {
							position: absolute;
							top: 50%;
							transform: translateY(-40%);

							width: 90px;

							&:nth-child(1) {
								left: 0;
							}

							&:nth-child(2) {
								right: 0;
							}
						}
					}
				}

				&[data-win="left"] {
					> *:first-child {
						& img::after {
							position: absolute;
							right: -5px;
							bottom: -5px;

							content: "";

							display: block;

							width: 14px;
							height: 14px;
							background-image: url(../img/icon/medal.svg);
						}
					}
				}
			}
		}
	}
}

.GameStart {
	.Buttons {
		display: grid;
		row-gap: 7px;
	}
}

.ModalBG {
	position: absolute;
	top: 0;
	left: 0;

	/*
	! height - вычитается нижние поле AdHolder.
	! Необходимо убрать его после всей вёрстки игры
	*/

	width: 100%;
	height: calc(100% - 50px);

	background-color: rgba(0, 0, 0, 0.6);
}

.Modal {
	p,
	span,
	label {
		color: var(--modal-font-color);
	}
	b {
		font-weight: 500;
	}

	p {
		> span {
			display: block;

			&:nth-child(n + 2) {
				margin-top: 5px;
			}
		}
	}

	> * {
		&:nth-child(n + 2) {
			margin-top: 12px;
		}
	}

	position: absolute;
	/*
	* Поднимаем чуть выше середины, чтобы визуально лучше воспринималось
	*/
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;

	width: calc(100% - 60px);
	max-width: 300px;

	pointer-events: all;

	.ModalBody {
		padding: 12px;
		min-height: 40px;

		background-color: #fff;
		border-radius: 5px;
		box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);

		> div {
			> *:nth-child(n + 2) {
				margin-top: 12px;
			}

			> .Content {
				display: grid;
				row-gap: 10px;

				header {
					display: grid;
					row-gap: 7px;

					.WarningIcon {
						height: 30px;

						background-image: url(/src/img/icon/warning.svg);
					}

					.Title {
						font-size: calc(var(--font-size) + 1px);
						font-weight: 500;
						line-height: 1;
						text-align: center;
					}
				}

				> p {
					font-size: calc(var(--font-size) - 1px);
					font-weight: 300;
					line-height: 1.4;
				}

				> a {
					display: block;

					color: var(--link-color);
					font-size: calc(var(--font-size) - 1px);
					font-weight: 500;
					text-align: center;
					text-decoration: none;

					&:active {
						text-decoration: underline;
					}
				}
			}
		}

		/* MailCode */
		.MailCode {
			display: grid;
			row-gap: 5px;

			label {
				font-size: calc(var(--font-size) - 1px);
				font-weight: 500;
			}
		}
		/* END */
	}

	> .Buttons {
		display: grid;
		grid-auto-flow: column;

		background-color: #fff;
		border-radius: 5px;
		box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);

		overflow: hidden;

		> button {
			--font-color: #000;

			position: relative;

			padding: 10px 0;

			width: 100%;

			font-weight: 500;
			font-size: calc(var(--font-size) + 1px);
			text-transform: uppercase;

			&:active {
				background-color: var(--button-footer-bg-hover);
			}

			&::after {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);

				content: "";
				width: 1px;
				height: 50%;
				background-color: #ccc;

				opacity: 0;
			}

			&:nth-child(n + 2)::after {
				opacity: 1;
			}
		}

		&:active {
			button {
				&::after {
					opacity: 0;
				}
			}
		}
	}
}

.FindUser {
	@include scrollhide;

	padding-bottom: 20px;
	height: 100%;
	overflow-y: auto;

	.Results {
		display: grid;
		row-gap: 7px;

		.Search {
			position: relative;

			input.General {
				padding-left: calc(3px + 30px);
			}

			button {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);

				width: 30px;
				height: 100%;

				background-image: url(../img/icon/search.svg);
				background-size: 14px;
			}

			button:disabled {
				opacity: 0.4;
			}
		}
	}

	.Players {
		display: grid;
		row-gap: 5px;

		> li {
			padding: 5px;

			width: 100%;

			display: grid;
			grid-auto-flow: column;
			grid-template-columns: max-content 1fr max-content;
			column-gap: 10px;
			align-items: center;

			.Avatar {
				width: 28px;
				height: 28px;
				background-color: var(--bg-dark-ava);
				border-radius: 5px;
				overflow: hidden;
			}

			> p {
				@include textWrapDots;
				// font-size: 14px;
				font-weight: 300;
				text-transform: uppercase;
			}

			button {
				background-size: 18px;

				> .IconSword {
					width: 14px;
					height: 14px;

					background-image: url(../img/icon/sword.svg);
				}
			}
		}
	}
}

.ConditionPage {
	height: 100%;

	display: grid;
	grid-template-rows: max-content 1fr;
	row-gap: 10px;

	overflow: hidden;

	.Content {
		position: relative;
		height: 100%;
		overflow: hidden;

		&[data-shadow="top"]::after,
		&[data-shadow="bottom"]::before,
		&[data-shadow="both"]::after,
		&[data-shadow="both"]::before {
			display: block;
		}

		&::after,
		&::before {
			position: absolute;
			left: 0;

			content: "";

			display: none;

			width: calc(100% - 9px);
			height: 20px;
		}

		&::after {
			top: 0;
			background: linear-gradient(#0b7738 0%, rgba(11, 119, 56, 0) 100%);
		}

		&::before {
			bottom: 0;
			background: linear-gradient(rgba(9, 122, 58, 0) 0%, #097a3a 100%);
		}

		p {
			height: 100%;
			overflow: auto;

			font-size: calc(var(--font-size) - 1px);
			font-weight: 300;
			text-align: justify;
		}
	}
}

.RulesPage {
	height: 100%;

	display: grid;
	grid-template-rows: max-content 1fr;

	overflow: hidden;

	.Content {
		position: relative;
		height: 100%;
		overflow: scroll;

		&[data-shadow="top"]::after,
		&[data-shadow="bottom"]::before,
		&[data-shadow="both"]::after,
		&[data-shadow="both"]::before {
			display: block;
		}

		&::after,
		&::before {
			position: absolute;
			left: 0;

			content: "";

			display: none;

			width: calc(100% - 9px);
			height: 20px;
		}

		&::after {
			top: 0;
			background: linear-gradient(#0b7738 0%, rgba(11, 119, 56, 0) 100%);
		}

		&::before {
			bottom: 0;
			background: linear-gradient(rgba(9, 122, 58, 0) 0%, #097a3a 100%);
		}

		p {
			height: 100%;
			overflow: auto;

			font-size: calc(var(--font-size) - 1px);
			font-weight: 300;
			text-align: justify;
		}
	}
}

/******** Игровая область **********/
.Gameground {
	margin-top: 12px;

	display: grid;
	grid-auto-rows: max-content;
	row-gap: 20px;

	.FaceToFace {
		width: 100%;

		display: grid;
		grid-auto-flow: column;
		grid-template-columns: max-content 1fr max-content;

		column-gap: 5px;

		.CurrentInfo {
			display: grid;
			row-gap: 3px;
			place-items: center;

			p.Score {
				font-size: calc(var(--font-size) + 24px);
				font-weight: 300;
				line-height: 1;
			}

			.Status {
				padding: 10px 5px;

				width: 84px;
				height: 64px;

				display: grid;
				grid-template-rows: 1fr max-content;
				row-gap: 4px;
				place-items: center;

				border-radius: 10px;
				background-color: rgba(0, 0, 0, 0.1);
				box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
				box-sizing: border-box;

				> .IconStatus {
					width: 32px;
					height: 32px;
					background-size: 32px;

					&.Winner {
						background-image: url(/src/img/gamestatus/winner.svg);
					}
					&.YourTurn {
						background-image: url(/src/img/gamestatus/your-turn.svg);
					}
					&.Waiting {
						background-image: url(/src/img/gamestatus/waiting.svg);
					}
				}

				> p {
					@include textWrapDots;

					color: #fed61f;
					font-size: calc(var(--font-size) - 3px);
					text-align: center;
				}
			}
		}
	}

	.RoundsContainer {
		display: grid;
		row-gap: 10px;

		> .Round {
			padding-top: 3px;

			display: grid;
			grid-auto-flow: column;
			grid-template-columns: max-content 1fr max-content;

			column-gap: 10px;
			place-items: center;

			border-top: 1px solid #fff;

			> p {
				@include textWrapDots;

				// font-size: 14px;
				font-weight: 600;
				text-align: center;
			}

			> .DigitContainer {
				display: grid;
				grid-auto-flow: column;
				grid-auto-columns: max-content;

				column-gap: 6px;

				> p {
					width: 26px;
					height: 26px;

					background-color: var(--brand-color);
					border-radius: 5px;

					font-size: calc(var(--font-size) + 10px);
					font-weight: 600;
					text-align: center;
					line-height: 110%; // Размещаем число чуть ниже

					&[data-color="red"] {
						background-color: #fd0148;
					}
					&[data-color="green"] {
						background-color: var(--button-green);
					}
					&[data-color="yellow"] {
						background-color: #ddb937;
					}
				}
			}

			&[data-active="0"] {
				opacity: 0.3;

				> .DigitContainer > p {
					opacity: 0.5;
				}
			}
		}
	}

	.Playground {
		--width: 230px;

		display: grid;
		grid-auto-rows: max-content;
		row-gap: 12px;
		justify-items: center;

		.Card {
			width: 28px;
			height: 44px;

			border-radius: 5px;
			box-sizing: border-box;
			box-shadow: 0 1px 2px 0.5px rgba(0, 0, 0, 0.15);

			overflow: hidden;

			&.Shirt {
				border: 3px solid #eee;
				background-color: #d95454;
			}

			&.IconPlace {
				background-image: url(/src/img/icon/place-card.svg);
				box-shadow: unset;
				opacity: 0.5;
			}
		}

		.Table {
			position: relative;

			padding: 5px 50px;

			width: var(--width);

			display: grid;
			row-gap: 12px;
			place-items: center;

			background-color: var(--brand-color);
			border: 6px solid #9c6027;
			border-radius: 100px;

			box-sizing: border-box;
			box-shadow: 0 1px 2px 0.5px rgba(0, 0, 0, 0.25);

			.CardsContainer {
				display: grid;
				grid-auto-flow: column;
				column-gap: 12px;
			}
		}

		.YourCardsContainer {
			--column-gap: 20px;

			width: var(--width);

			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: max-content;

			column-gap: var(--column-gap);
			place-items: center;
			place-content: center;

			> .RowsContainer {
				width: 100%;

				display: grid;
				row-gap: 12px;

				> .Row {
					display: grid;
					grid-auto-flow: column;
					grid-auto-columns: max-content;
					column-gap: var(--column-gap);

					> .Card {
						background-color: red;
					} // !Удалить
				}
			}
		}
	}

	> .UserTip {
		margin-top: 20px;
		max-height: 150px;
	}
}

.DigitIcon {
	margin: 0;
	width: 100%;
	height: 100%;

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.DigitIcon[data-active="0"] {
	background-image: none !important;
}

.DigitIcon[data-digit="2"][data-color="red"] {
	background-image: url(../img/digits/Red2.png);
}
.DigitIcon[data-digit="3"][data-color="red"] {
	background-image: url(../img/digits/Red3.png);
}
.DigitIcon[data-digit="4"][data-color="red"] {
	background-image: url(../img/digits/Red4.png);
}
.DigitIcon[data-digit="5"][data-color="red"] {
	background-image: url(../img/digits/Red5.png);
}
.DigitIcon[data-digit="6"][data-color="red"] {
	background-image: url(../img/digits/Red6.png);
}
.DigitIcon[data-digit="7"][data-color="red"] {
	background-image: url(../img/digits/Red7.png);
}
.DigitIcon[data-digit="8"][data-color="red"] {
	background-image: url(../img/digits/Red8.png);
}
.DigitIcon[data-digit="9"][data-color="red"] {
	background-image: url(../img/digits/Red9.png);
}
.DigitIcon[data-digit="J"][data-color="red"] {
	background-image: url(../img/digits/RedJ.png);
}
.DigitIcon[data-digit="2"][data-color="blue"] {
	background-image: url(../img/digits/Blue2.png);
}
.DigitIcon[data-digit="3"][data-color="blue"] {
	background-image: url(../img/digits/Blue3.png);
}
.DigitIcon[data-digit="4"][data-color="blue"] {
	background-image: url(../img/digits/Blue4.png);
}
.DigitIcon[data-digit="5"][data-color="blue"] {
	background-image: url(../img/digits/Blue5.png);
}
.DigitIcon[data-digit="6"][data-color="blue"] {
	background-image: url(../img/digits/Blue6.png);
}
.DigitIcon[data-digit="7"][data-color="blue"] {
	background-image: url(../img/digits/Blue7.png);
}
.DigitIcon[data-digit="8"][data-color="blue"] {
	background-image: url(../img/digits/Blue8.png);
}
.DigitIcon[data-digit="9"][data-color="blue"] {
	background-image: url(../img/digits/Blue9.png);
}
.DigitIcon[data-digit="J"][data-color="blue"] {
	background-image: url(../img/digits/BlueJ.png);
}
