.Main
{
	margin-top: 20px; /* Статус бар */
	padding: 0 10px;

	height: calc(100% - 20px); /* Статус бар */

	display: grid;
	grid-template-rows: max-content 1fr max-content;

	box-sizing: border-box;
}

.Game
{
	position: relative;
	height: 100%;
	
	display:grid;
	grid-template-rows: 1fr max-content;
	
	background: linear-gradient(to bottom, #12652f 0%,  #038D42 50%  ,   #0f6e34 100%);

	overflow: hidden;
}

.PageHolder
{
	position: relative;
	display: flex;
}

.AdHolder
{
  position: relative;
  height: 50px;
	border: 1px solid #000;
	box-sizing: border-box;

	select
	{
		width: 100%;
		height: 100%;
		color: #000;
	}
}



.Welcome
{
	margin: 20px 0;
	text-align: center;

	.WelcomeTitle
	{
		font-size: 22px;
		font-weight: 300;
		line-height: 28px;
	}

	.WelcomeModulo
	{
		font-size: 28px;
		font-weight: 600;
		line-height: 34px;
	}
}



.SignInLanguagePanel
{
	justify-self: end;

	.SignInLanguagePanelFlag
	{
		width: 20px;
		height: 20px;

		&[data-country="ru"]	{ background-image: url(../img/flags/ru.svg);	}
		&[data-country="eng"] { background-image: url(../img/flags/usa.svg); }
	}

	
	.SignInLanguagePanelName
	{
		color: var(--button-font-color);
		font-size: 13px;
		font-weight: 500;
	}
}




.HeadNavigation
{
	&[data-title="none"] { grid-template-columns: unset; }
	
	margin-top: 10px;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: max-content 1fr max-content;
	align-items: center;


	.HeadNavigationTitle
	{
		padding: 0 12px;
		box-sizing: border-box;

		font-size: 18px;
		font-weight: 300;
	}
}



.UserTip
{
	margin: 15px auto 0 auto;
	padding: 10px 15px;
	width: 95%;
	max-height: 80px;

	background: rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
	border-radius: 10px;

	text-align: center;
	box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.1); 
	box-sizing: border-box;

	overflow-y: auto;

	> p
	{
		font-size: 15px;
		font-weight: 500;
		line-height: 20px;;
		text-align: center;
		letter-spacing: 0.15px;
	}
}



.FooterArea
{
	margin: 10px 0;

	> button
	{
		padding: 10px 0;

		width: 100%;

		background-color: var(--button-footer-bg);
		border-radius: 5px;
		box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.15);

		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
	}

	> button:active
	{
		background-color: var(--button-footer-bg-hover);
		box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.3);
	}
}



.SignUp  
{
  padding-top:30px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-rows: 27px 38px 58px 58px 58px 58px 58px 1fr 43px ;

	.SignUpWelcome
	{
		color:white;
		text-align: center;
		font-weight: 300;
		margin-top:13px;
		font-size: 20px;
	}

	.SignUpTip
	{
		
		border:none;
		
		line-height: 1.2em;
		text-align:center;
		color:white; 
		align-items: center;
		padding:8px;
		padding-top:16px;  
		font-size: 14px;;
		font-weight: 300;
	}
}




.SignInAuth
{
	.UserTip
	{
		max-height: unset;

		p
		{
			font-size: 13px;
			line-height: 18px;
		}
	}


}



.SignInAnonim
{
	.SignInAnonimImage
	{
		display: grid;
		align-items: center;
		justify-items: center;

		img
		{
			height: 180px;
		}
	}


	.SignInAnonimTip
	{
		margin-top: 10px;
	
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
	}


	.SignInAnonimSignUp
	{
		margin-top: 5px;
		
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		text-decoration: underline;
	}
}



.ConditionPage  
{
  padding-top:30px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-rows: 27px 46px 1fr 43px ;
  position: relative;


	.ConditionTitle
	{
		color:white;
		text-align: center;
		font-weight: 400;
		margin-top:13px;
		font-size: 17px;
	}


	.ConditionBody
	{
		color:white;
		text-align: center;
		font-weight: 300;
		margin-top:13px;
		font-size: 14px;
		overflow-y:scroll;
		height: 340px;
		box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.1);

		div
		{
			height: auto;
			display: block;
			text-align: justify;
			padding: 8px;
			padding-top: 1px;
		}
	}
}



.ModalBG
{ 
	position: absolute;
	top: 0;
	left: 0;

	/*
	! height - вычитается нижние поле AdHolder.
	! Необходимо убрать его после всей вёрстки игры
	*/

	width: 100%;
	height: calc(100% - 50px);

	background-color: rgba(0,0,0,0.6);
}

.Modal
{
	p, span, label { color: var(--modal-font-color); }
	b	{	font-weight: 500;	}

	p > span { display: block; }
	p > span:nth-child(n+2) { margin-top: 3px; }


	> *:nth-child(n+2) {	margin-top: 12px; }

	
	position: absolute;
	/*
	* Поднимаем чуть выше середины, чтобы визуально лучше воспринималось
	*/
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;

	width: calc(100% - 60px);
	max-width: 300px;
	
	pointer-events: all;


	.ModalBody
	{
		padding: 12px;
		min-height: 100px;

		background-color: #fff;
		border-radius: 5px;
		box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);

		> div > *:nth-child(n+2)
		{
			margin-top: 12px;
		}

		> div > p
		{
			font-size: 13px;
			font-weight: 300;
			line-height: 17px;
		}


		/* MailCode */
		.MailCode {
			label
			{
				font-size: 13px;
				font-weight: 500;
				line-height: 17px;
			}

			input
			{
				margin-top: 5px;
				padding: 7px 10px;

				width: 100%;

				background-color: rgba(0, 0, 0, 0.5);
				border-radius: 3px;
				box-sizing: border-box;

				font-size: 13px;
				font-weight: 300;
				line-height: 17px;
			}

			input {
				@include placeholder { opacity: 0.6; }
			} 
		}
		/* END */

		.WarningIcon
		{
			position: relative;
			background-image: url(/src/img/icon/warning.svg);
			background-repeat: no-repeat;
			background-size: contain;
			background-position-x: center;
			width:100%;
			height:25px;
		}

		.BoldTitle { font-size: 16px; font-weight: 600; }
	}

	> .Button
	{
		> button
		{
			padding: 10px 0;
		
			width: 100%;
		
			background-color: var(--button-footer-bg);
			border-radius: 5px;
			box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
		
			font-weight: 500;
			font-size: 15px;
			text-transform: uppercase;
		}

		> button:active
		{
			background-color: var(--button-footer-bg-hover);
			box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
		}
	} 
}