.Main {
	margin-top: 20px; /* Статус бар */
	padding: 0 10px;

	height: calc(100% - 20px - 50px); /* Статус бар */

	display: grid;
	grid-template-rows: max-content 1fr max-content;
	box-sizing: border-box;
}

.Game {
	position: relative;
	height: 100%;

	background: linear-gradient(to bottom, #12652f 0%, #038d42 50%, #0f6e34 100%);

	overflow: hidden;
}

.PageHolder {
	position: relative;
	display: flex;
}

.AdHolder {
	--font-color: #000;

	position: relative;
	height: 50px;
	border: 1px solid #000;
	box-sizing: border-box;

	select {
		width: 100%;
		height: 100%;
		color: #000;
	}
}

.Welcome {
	margin: 20px 0;
	text-align: center;

	.WelcomeTitle {
		font-size: 22px;
		font-weight: 300;
		line-height: 1.25;
	}

	.WelcomeModulo {
		font-size: 28px;
		font-weight: 600;
		line-height: 1.25;
	}
}

.SignInLanguagePanel {
	justify-self: end;

	.SignInLanguagePanelFlag {
		width: 20px;
		height: 20px;

		&[data-country="ru"] {
			background-image: url(../img/flags/ru.svg);
		}
		&[data-country="eng"] {
			background-image: url(../img/flags/usa.svg);
		}
	}
}

.HeadNavigation {
	margin-top: 10px;

	min-height: 30px;

	display: grid;
	grid-auto-flow: column;
	grid-template-columns: max-content 1fr max-content;
	column-gap: 12px;
	align-items: center;

	&[data-column="1"] { grid-template-columns: 1fr; }
	&[data-column="2"] { grid-template-columns: 1fr max-content; }

	.Title {
		font-size: 18px;
		font-weight: 300;
	}
}

.Profile {
	margin-bottom: 10px;

	display: grid;
	grid-auto-flow: column;
	grid-template-columns: max-content 1fr;

	column-gap: 7px;
	align-items: center;

	.Avatar {
		width: 75px;
		height: 75px;
	}
}

.UserTip {
	margin: 15px auto 0 auto;
	padding: 10px 15px;
	width: 95%;
	max-height: 80px;

	background: rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
	border-radius: 10px;

	text-align: center;
	box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;

	overflow-y: auto;

	> p {
		font-size: 15px;
		font-weight: 500;
		text-align: center;
		letter-spacing: 0.15px;
	}
}

.FooterArea {
	margin: 10px 0;

	> button {
		--font-color: #000;

		padding: 10px 0;

		width: 100%;

		background-color: var(--button-footer-bg);
		border-radius: 5px;
		box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.15);

		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;

		&:active {
			background-color: var(--button-footer-bg-hover);
			box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.3);
		}
	}
}

.SignIn {
	.Buttons {
		display: grid;
		row-gap: 7px;
	}

	.UserTip {
		max-height: 120px;
	}
}

.SignInAuth {
	.UserTip {
		max-height: unset;

		p {
			font-size: 13px;
		}
	}
}

.SignInAnonim {
	.SignInAnonimImage {
		display: grid;
		align-items: center;
		justify-items: center;

		img {
			height: 180px;
		}
	}

	.SignInAnonimTip {
		margin-top: 10px;

		font-weight: 500;
		font-size: 14px;
		text-align: center;
	}

	.SignInAnonimSignUp {
		margin-top: 5px;

		font-weight: 500;
		font-size: 14px;
		text-align: center;
		text-decoration: underline;
	}
}

.GameList {
	.SubMenu {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: 1fr max-content;
		column-gap: 12px;
		align-items: center;
	}

	.Games {
		&.NowPlaying {
			.Status {
				font-size: 13px;
			}
		}

		&.Finished {
			.Status {
				font-size: 18px;
			}
		}

		.IconCup {
			width: 10px;
			height: 10px;
			background-image: url(../img/icon/cup.svg);
		}

		ul {
			display: grid;
			row-gap: 5px;

			li {
				position: relative;
				padding: 5px;

				display: grid;
				grid-auto-flow: column;
				grid-template-columns: max-content 1fr max-content;
				place-items: center;

				background-color: var(--bg-dark);
				border-radius: 5px;

				&[data-cup="1"][data-win] {
					&::after {
						display: none;
					}

					.Player .Logo::after {
						position: absolute;
						right: -5px;
						bottom: -5px;

						content: "";

						display: block;

						width: 14px;
						height: 14px;
						background-image: url(../img/icon/medal.svg);
					}
				}

				&[data-cup="1"][data-win="right"] .Player:first-child .Logo::after {
					display: none;
				}
				&[data-cup="1"][data-win="left"] .Player:last-child .Logo::after {
					display: none;
				}

				&[data-win]::after {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);

					content: "";

					display: block;

					width: 20px;
					height: 20px;
					background-image: url(../img/icon/medal.svg);
				}

				&[data-win="left"]::after {
					left: 25%;
				}
				&[data-win="right"]::after {
					right: 25%;
				}


				.Score {
					display: grid;
					row-gap: 3px;
					justify-items: center;

					> p.Status {
						font-weight: 500;
						text-transform: uppercase;
					}

					.Info {
						display: grid;
						grid-auto-flow: column;
						grid-auto-columns: max-content;
						column-gap: 5px;
						align-items: center;

						p {
							font-size: 10px;
							font-weight: 300;
							text-transform: uppercase;
						}
					}
				}

				.Player {
					width: 55px;
					height: 100%;

					display: grid;
					row-gap: 3px;
					justify-items: center;

					overflow: hidden;

					&.Computer {
						> p {
							font-weight: 500;
						}

						.Avatar {
							background-size: 14px auto;
							background-image: url(../img/icon/computer.svg);
						}
					}

					p {
						font-size: 10px;
						font-weight: 300;
						text-align: center;
						text-transform: uppercase;

						@include textWrapDots;
					}
				}

				.Cup {
					width: 100%;

					display: grid;
					grid-auto-flow: column;
					grid-template-columns: 1fr max-content 1fr;
					column-gap: 10px;
					align-items: center;

					.ELO {
						display: grid;
						row-gap: 2px;

						p {
							font-weight: 300;
							text-align: center;
						}

						> p:nth-child(1) {
							font-size: 13px;
						}

						> p:nth-child(2) {
							font-size: 10px;
						}
					}
				}
			}
		}
	}
}

.GameStart {
	.Buttons {
		margin: 20px 0;

		display: grid;
		row-gap: 7px;
	}
}

.ModalBG {
	position: absolute;
	top: 0;
	left: 0;

	/*
	! height - вычитается нижние поле AdHolder.
	! Необходимо убрать его после всей вёрстки игры
	*/

	width: 100%;
	height: calc(100% - 50px);

	background-color: rgba(0, 0, 0, 0.6);
}

.Modal {
	p,
	span,
	label {
		color: var(--modal-font-color);
	}
	b {
		font-weight: 500;
	}

	p {
		> span {
			display: block;

			&:nth-child(n + 2) {
				margin-top: 3px;
			}
		}
	}

	> * {
		&:nth-child(n + 2) {
			margin-top: 12px;
		}
	}

	position: absolute;
	/*
	* Поднимаем чуть выше середины, чтобы визуально лучше воспринималось
	*/
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;

	width: calc(100% - 60px);
	max-width: 300px;

	pointer-events: all;

	.ModalBody {
		padding: 12px;
		min-height: 40px;

		background-color: #fff;
		border-radius: 5px;
		box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);

		> div {
			> *:nth-child(n + 2) {
				margin-top: 12px;
			}

			> .Content {
				> *:nth-child(n + 2) {
					margin-top: 7px;
				}

				.Title {
					font-size: 15px;
					font-weight: 500;
					line-height: 1;
					text-align: center;
				}

				> p {
					font-size: 13px;
					font-weight: 300;
					line-height: 1.4;
				}

				> a {
					display: block;

					color: var(--link-color);
					font-size: 13px;
					font-weight: 500;
					text-align: center;
					text-decoration: none;

					&:active {
						text-decoration: underline;
					}
				}
			}
		}

		/* MailCode */
		.MailCode {
			label {
				font-size: 13px;
				font-weight: 500;
			}
		}
		/* END */

		.WarningIcon {
			height: 30px;

			background-image: url(/src/img/icon/warning.svg);
		}
	}

	> .Buttons {
		> button {
			--font-color: #000;
			
			padding: 10px 0;

			width: 100%;

			background-color: var(--button-footer-bg);
			border-radius: 5px;
			box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);

			font-weight: 500;
			font-size: 15px;
			text-transform: uppercase;

			&:active {
				background-color: var(--button-footer-bg-hover);
				box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
			}

			&:nth-last-child(n+2) {
				border-bottom: 1px solid #eee;
				border-radius: 5px 5px 0 0;
			}

			&:nth-child(n+2) {
				border-radius: 0 0 5px 5px;
			}
		}
	}
}

.FindUser {
	.Search {
		position: relative;

		margin: 12px 0;

		button {
			position: absolute;
			top: 50%;
			right: 5px;
			transform: translateY(-50%);

			width: 29px;
			height: 100%;

			background-image: url(../img/icon/search.svg);
			background-size: 16px;
		}

		button:disabled {
			opacity: 0.4;
		}
	}

	.Players {
		display: grid;
		row-gap: 5px;

		> li {
			padding: 5px;

			width: 100%;
			height: 34px;

			display: grid;
			grid-auto-flow: column;
			grid-template-columns: max-content 1fr max-content;
			column-gap: 10px;
			align-items: center;

			background-color: var(--bg-dark);
			border-radius: 5px;
			box-sizing: border-box;

			.Avatar {
				width: 24px;
				height: 24px;
				background-color: var(--bg-dark-ava);
				border-radius: 5px;
				overflow: hidden;
			}

			p {
				@include textWrapDots;
				font-size: 14px;
				font-weight: 300;
				text-transform: uppercase;
			}

			button {
				width: 24px;
				height: 100%;

				background-image: url(../img/icon/sword.svg);
				background-size: 18px;
			}
		}
	}
}

.ConditionPage {
	height: 100%;

	display: grid;
	grid-template-rows: max-content 1fr;

	overflow: hidden;

	.Content {
		position: relative;
		height: 100%;
		overflow: hidden;

		&[data-shadow="top"]::after,
		&[data-shadow="bottom"]::before,
		&[data-shadow="both"]::after,
		&[data-shadow="both"]::before {
			display: block;
		}

		&::after,
		&::before {
			position: absolute;
			left: 0;

			content: "";

			display: none;

			width: calc(100% - 9px);
			height: 20px;
		}

		&::after {
			top: 0;
			background: linear-gradient(#0b7738 0%, rgba(11, 119, 56, 0) 100%);
		}

		&::before {
			bottom: 0;
			background: linear-gradient(rgba(9, 122, 58, 0) 0%, #097a3a 100%);
		}

		p {
			height: 100%;
			overflow: auto;

			font-size: 13px;
			font-weight: 300;
			text-align: justify;
		}
	}
}

/******** Игровая область **********/
.Gameground {
	margin-top: 12px;

	display: grid;
	grid-auto-rows: max-content;
	row-gap: 20px;

	.FaceToFace {
		width: 100%;

		display: grid;
		grid-auto-flow: column;
		grid-template-columns: max-content 1fr max-content;

		column-gap: 5px;

		.Gamer {
			position: relative;

			padding: 2px 5px 7px 5px;

			width: 90px;
			height: 120px;

			display: grid;
			grid-auto-rows: max-content 1fr;
			row-gap: 4px;
			justify-items: center;

			border-radius: 5px;
			box-sizing: border-box;


			&[data-vip="1"] {	background-color: #ffd861; }
			&[data-vip="1"] > p { color: #d95454; }

			&[data-vip="1"] > .IconVip {
				position: absolute;
				top: -5px;
				right: -7px;

				width: 20px;
				height: 22px;
				background-image: url(/src/img/icon/vip.svg);
			}

			> p {		
				@include textWrapDots;

				font-size: 13px;
				font-weight: 600;
				text-align: center;
				text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
				line-height: 1.5;
			}

			> img {
				width: 100%;
				height: 100%;
			}

			> .Buttons {
				position: absolute;
				left: 50%;
				bottom: -8px;
				transform: translateX(-50%);

				width: 100px;

				display: grid;
				grid-auto-flow: column;
				justify-content: space-between;
			}

			> .IconJoker {
				position: absolute;
				top: 50%;
				right: -6px;
				transform: translateY(-50%);

				width: 18px;
				height: 28px; 
				border-radius: 3px;

				background-color: red; // !Удалить после введения карт
			}
		}

		.CurrentInfo {
			display: grid;
			row-gap: 3px;
			place-items: center;

			p.Score {
				font-size: 38px;
				font-weight: 300;
				line-height: 1;
			}

			.Status {
				padding: 10px 5px;

				width: 84px;
				height: 64px;

				display: grid;
				grid-template-rows: 1fr max-content;
				row-gap: 4px;
				place-items: center;

				border-radius: 10px;
				background-color: rgba(0, 0, 0, 0.1);
				box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
				box-sizing: border-box;

				> .IconStatus {
					width: 32px;
					height: 32px;
					background-size: 32px;
					
					&.Winner { background-image: url(/src/img/gamestatus/winner.svg); }
					&.YourTurn { background-image: url(/src/img/gamestatus/your-turn.svg); }
					&.Waiting { background-image: url(/src/img/gamestatus/waiting.svg); }
				}

				> p {
					@include textWrapDots;

					color: #fed61f;
					font-size: 11px;
					text-align: center;
				}
			}
		}
	}

	.RoundsContainer {
		display: grid;
		row-gap: 10px;
		
		> .Round {
			padding-top: 3px;

			display: grid;
			grid-auto-flow: column;
			grid-template-columns: max-content 1fr max-content;

			column-gap: 10px;
			place-items: center;

			border-top: 1px solid #fff;

			> p {
				@include textWrapDots;

				font-size: 14px;
				font-weight: 600;
				text-align: center;
			}

			> .DigitContainer {
				display: grid;
				grid-auto-flow: column;
				grid-auto-columns: max-content;

				column-gap: 6px;

				> p {
					width: 26px;
					height: 26px;
					border-radius: 5px;

					font-size: 24px;
					font-weight: 600;
					text-align: center;
					line-height: 110%; // Размещаем число чуть ниже

					&[data-color="red"] { background-color: #fd0148; }
					&[data-color="green"] { background-color: var(--button-green); }
					&[data-color="yellow"] { background-color: #ddb937; }
				}
			}
		}
	}


	.Playground {
		--width: 230px;

		display: grid;
		grid-auto-rows: max-content;
		row-gap: 12px;
		justify-items: center;
		
		.Card {
			width: 28px;
			height: 44px;

			border-radius: 5px;
			box-sizing: border-box;
			box-shadow: 0 1px 2px 0.5px rgba(0,0,0,0.15);

			overflow: hidden;

			&.Shirt {
				border: 3px solid #eee;
				background-color: #D95454;
			}

			&.IconPlace {
				background-image: url(/src/img/icon/place-card.svg);
				box-shadow: unset;
				opacity: 0.5;
			}
		}


		.Table {
			position: relative;

			padding: 5px 50px;

			width: var(--width);

			display: grid;
			row-gap: 12px;
			place-items: center;

			background-color: var(--brand-color);
			border: 6px solid #9C6027;
			border-radius: 100px;

			box-sizing: border-box;
			box-shadow: 0 1px 2px 0.5px rgba(0,0,0,0.25);

			.CardsContainer {
				display: grid;
				grid-auto-flow: column;
				column-gap: 12px;
			}
		}

		.YourCardsContainer {
			--column-gap: 20px;

			width: var(--width);

			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: max-content;

			column-gap: var(--column-gap);
			place-items: center;
			place-content: center;

			> .RowsContainer {
				width: 100%;

				display: grid;
				row-gap: 12px;

				> .Row {
					display: grid;
					grid-auto-flow: column;
					grid-auto-columns: max-content;
					column-gap: var(--column-gap);
	
					> .Card { background-color: red; } // !Удалить
				}
			}
		}
	}
}



.Avatar img,
.HeadAvatar img {
	width: 100%;
	height: 100%;
}

.HeadAvatar {
	position: absolute;
	width: 40px;
	height: 40px;
}

.GameListHeader2 {
	height: 25px;
}

.GamePage {
	border: 1px solid black;
	width: 100%;
	overflow: hidden;
}

.DigitCardContainer .Competitor {
	background-color: black !important;
}

.DigitCardContainer .MyRound {
	background-color: yellow !important;
}

.DigitIcon {
	margin: 0;
	width: 100%;
	height: 100%;

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.DigitIcon[data-active="0"] {
	background-image: none !important;
}

.DigitIcon[data-digit="2"][data-color="red"] {
	background-image: url(../img/digits/Red2.png);
}
.DigitIcon[data-digit="3"][data-color="red"] {
	background-image: url(../img/digits/Red3.png);
}
.DigitIcon[data-digit="4"][data-color="red"] {
	background-image: url(../img/digits/Red4.png);
}
.DigitIcon[data-digit="5"][data-color="red"] {
	background-image: url(../img/digits/Red5.png);
}
.DigitIcon[data-digit="6"][data-color="red"] {
	background-image: url(../img/digits/Red6.png);
}
.DigitIcon[data-digit="7"][data-color="red"] {
	background-image: url(../img/digits/Red7.png);
}
.DigitIcon[data-digit="8"][data-color="red"] {
	background-image: url(../img/digits/Red8.png);
}
.DigitIcon[data-digit="9"][data-color="red"] {
	background-image: url(../img/digits/Red9.png);
}
.DigitIcon[data-digit="J"][data-color="red"] {
	background-image: url(../img/digits/RedJ.png);
}
.DigitIcon[data-digit="2"][data-color="blue"] {
	background-image: url(../img/digits/Blue2.png);
}
.DigitIcon[data-digit="3"][data-color="blue"] {
	background-image: url(../img/digits/Blue3.png);
}
.DigitIcon[data-digit="4"][data-color="blue"] {
	background-image: url(../img/digits/Blue4.png);
}
.DigitIcon[data-digit="5"][data-color="blue"] {
	background-image: url(../img/digits/Blue5.png);
}
.DigitIcon[data-digit="6"][data-color="blue"] {
	background-image: url(../img/digits/Blue6.png);
}
.DigitIcon[data-digit="7"][data-color="blue"] {
	background-image: url(../img/digits/Blue7.png);
}
.DigitIcon[data-digit="8"][data-color="blue"] {
	background-image: url(../img/digits/Blue8.png);
}
.DigitIcon[data-digit="9"][data-color="blue"] {
	background-image: url(../img/digits/Blue9.png);
}
.DigitIcon[data-digit="J"][data-color="blue"] {
	background-image: url(../img/digits/BlueJ.png);
}
