:root,
*::after,
*::before {
	--brand-color: #35ca71;
	--brand-color-hover: #2eb062;

	--font-color: #fff;
	--link-color: #168643;

	--font-size: 14px;

	--modal-font-color: #000;

	--common-bh: 0px 2px 10px rgba(0, 0, 0, 0.2);

	--button-green: var(--brand-color);
	--button-green-hover: var(--brand-color-hover);
	--button-green-rgb: 53, 202, 113;
	--button-darkgreen: #06371e;
	--button-darkgreen-rgb: 6, 55, 30;

	--button-font-color: #06371e;

	--button-footer-bg: #eeeeee;
	--button-footer-bg-hover: #d4d4d4;

	--bg-dark: rgba(6, 55, 30, 0.25);
	--bg-dark-ava: rgba(0, 0, 0, 0.2);
	--bg-dark-list: #05672c;
}

*,
*::after,
*::before {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	font-family: "Roboto Slab", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[data-show="0"] {
	display: none;
}

button {
	padding: 0;
	outline: none;
	border: 0;
	background-color: unset;
}

input,
select {
	position: relative;
	appearance: none;
	outline: 0;
	border: 0;

	font-weight: 300;
}

@mixin placeholder {
	&::placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
	&::-webkit-input-placeholder {
		@content;
	}
}

* {
	@include placeholder {
		color: var(--font-color);
		opacity: 0.4;
	}
}

@mixin textWrapDots {
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-wrap: anywhere;
	overflow: hidden;
}

@mixin textWrapDots_Vert($strokes: 1) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	white-space: unset;
	overflow-y: hidden;
	-webkit-line-clamp: $strokes;
}

/* ScrollHide */
@mixin scrollhide {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.ScrollHide {
	@include scrollhide;
}
/* End */

html,
body {
	height: 100%;
	width: 100%;
	background-color: papayawhip;
}

.Bold {
	font-weight: 600;
}
.Error {
	color: red !important;
	font-weight: 400;
}

#game-body {
	height: 100%;
}

#playground {
	position: relative;
	margin: 0 auto;

	width: 320px;
	height: 568px;

	> #root {
		height: 100%;
	}
}

#modal-root {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;

	width: 100%;
	height: 100%;

	pointer-events: none;

	> div {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
	}
}

/*** *** *** Scroll *** *** ***/
* {
	scrollbar-width: thin;
}

::-webkit-resizer,
::-webkit-scrollbar-corner {
	display: none;
}

::-webkit-scrollbar {
	width: 9px;
	height: 11px;
}

::-webkit-scrollbar-thumb {
	background-clip: padding-box;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:vertical {
	border-left: 3px solid rgba(0, 0, 0, 0);
	border-right: 3px solid rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb:horizontal {
	border-top: 3px solid rgba(0, 0, 0, 0);
	border-bottom: 3px solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-button {
	width: 0px;
	height: 5px;
}
::-webkit-scrollbar {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: #9a9;
}

/* Scroll */
/*::-webkit-scrollbar-button:single-button:start:vertical   { background-image: url(../icons/img/icons/arrows/arrow-scroll-up-666.svg); background-size: 7px; }
::-webkit-scrollbar-button:single-button:end:vertical     { background-image: url(../icons/img/icons/arrows/arrow-scroll-down-666.svg); background-size: 7px; }
::-webkit-scrollbar-button:single-button:start:horizontal { background-image: url(../icons/img/icons/arrows/arrow-scroll-left-666.svg); background-size: 7px; }
::-webkit-scrollbar-button:single-button:end:horizontal   { background-image: url(../icons/img/icons/arrows/arrow-scroll-right-666.svg); background-size: 7px; }
*/
/*** *** *** END *** *** ***/

.CheckBoxButton {
	padding: 8px;

	display: grid;
	grid-template-columns: max-content 1fr;
	column-gap: 7px;
	align-items: center;

	background-color: rgba(var(--button-darkgreen-rgb), 0.25);
	border-radius: 5px;
	border: 2px solid transparent;

	box-sizing: border-box;

	-webkit-user-select: none;
	user-select: none;

	&[data-select="1"] {
		border: 2px solid var(--button-green);
		background-color: rgba(var(--button-darkgreen-rgb), 0.5);

		> .CheckBoxButtonIndicator {
			border: 2px solid rgba(var(--button-green-rgb), 1);

			&::after {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				content: "";

				width: 16px;
				height: 16px;
				background-color: var(--button-green);
				border-radius: 3px;
			}
		}
	}

	> .CheckBoxButtonTitle {
		// font-size: 14px;
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.3px;
	}

	> .CheckBoxButtonIndicator {
		position: relative;

		width: 24px;
		height: 24px;

		border: 2px solid rgba(var(--button-green-rgb), 0.5);
		border-radius: 5px;
		box-sizing: border-box;
	}
}

.GeneralSubtitle {
	padding: 12px 0;

	font-size: calc(var(--font-size) + 2px);

	span {
		text-decoration: underline;
	}
}

.AdditionalTip {
	font-weight: 300;
	font-size: calc(var(--font-size) - 1px);
	line-height: 1.4;
	text-align: center;

	> a {
		font-weight: 500;
	}
}

.LabelInput {
	margin-bottom: 8px;

	display: grid;
	row-gap: 7px;

	&:last-child {
		margin-bottom: unset;
	}

	> label {
		display: block;

		font-weight: 500;
		line-height: 1.1;
	}
}

/*** Типы элементов формы ***/
/* General */
input.General,
select.General {
	padding: 0 10px;
	width: 100%;
	height: 30px;

	background-color: rgba(var(--button-darkgreen-rgb), 0.5);
	border-radius: 3px;
	box-sizing: border-box;

	&.Date {
		background-image: url(../img/icon/calendar.svg);
		background-size: 18px;
		background-position-x: 97%;
	}
}

select.General {
	background-image: url(../img/icon/arrow-down.svg);
	background-size: 12px;
	background-position-x: 96%;
	appearance: none;
}

input[type="text"].General.Date {
	background-image: url(../img/icon/calendar-op40.svg);
}

input[type="date"].General::-webkit-calendar-picker-indicator {
	background-image: unset;
	outline: none;
}
/* End */

/* InPopup */
input.InPopup {
	margin-top: 5px;
	padding: 7px 10px;

	width: 100%;

	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	box-sizing: border-box;

	font-size: calc(var(--font-size) - 1px);
	font-weight: 300;

	@include placeholder {
		opacity: 0.6;
	}
}
/* End */

/* Avatar */
.Avatar {
	position: relative;

	width: 28px;
	height: 28px;

	img {
		width: 100%;
		height: 100%;
	}
}
/* End */

/* Gamer */
.Gamer {
	--gamer-width: 90px;

	position: relative;

	padding: 2px 5px 7px 5px;

	width: var(--gamer-width);
	height: calc(var(--gamer-width) + 30px);

	display: grid;
	grid-auto-rows: max-content 1fr;
	row-gap: 4px;
	justify-items: center;

	border-radius: 5px;
	box-sizing: border-box;

	&[data-vip="1"] {
		background-color: #ffd861;
	}
	&[data-vip="1"] > p {
		color: #d95454;
	}

	&[data-vip="1"] > .IconVip {
		position: absolute;
		top: -5px;
		right: -7px;

		width: 20px;
		height: 22px;
		background-image: url(/src/img/icon/vip.svg);
	}

	> p {
		@include textWrapDots;

		font-size: calc(var(--font-size) - 1px);
		font-weight: 600;
		text-align: center;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
		line-height: 1.5;
	}

	> img {
		width: 100%;
		height: 100%;
	}

	> .Buttons {
		position: absolute;
		left: 50%;
		bottom: -8px;
		transform: translateX(-50%);

		width: calc(var(--gamer-width) + 10px);

		display: grid;
		grid-auto-flow: column;
		justify-content: space-between;
	}

	> .IconJoker {
		position: absolute;
		top: 50%;
		right: -6px;
		transform: translateY(-50%);

		width: 18px;
		height: 28px;
		border-radius: 3px;

		background-color: red; // !Удалить после введения карт
	}
}
/* End */

/* Gamer */
.DarkLiStyle {
	position: relative;

	background-color: var(--bg-dark-list);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;

	&:active::after {
		opacity: 0.2;
	}

	&::after {
		position: absolute;
		top: 0;
		left: 0;

		content: "";
		width: 100%;
		height: 100%;
		opacity: 0;

		background-color: #000;
	}
}
/* End */

/*** *** *** Buttons *** *** ***/
.ButtonBack {
	width: 30px;
	height: 30px;

	background-image: url(../img/buttons/left-arrow.svg);
	background-size: 16px;
	background-position: 45%;
	background-color: unset;
	border-radius: 5px;
	border: 1px solid var(--button-green);

	box-sizing: border-box;

	&:active {
		background-color: var(--button-green-hover);
		border: 1px solid var(--button-green-hover);
	}
}

.ButtonGreen {
	padding: 0 7px;
	width: max-content;
	height: 30px;

	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	column-gap: 7px;
	align-items: center;

	background-color: var(--button-green);
	border-radius: 5px;
	box-sizing: border-box;

	color: var(--button-font-color);
	font-size: calc(var(--font-size) - 1px);
	font-weight: 500;

	> p {
		color: var(--button-font-color);
		font-size: calc(var(--font-size) - 1px);
		font-weight: 500;
	}

	&:active {
		background-color: var(--button-green-hover);
	}

	&.IconMenu {
		background-image: url(/src/img/buttons/menu_dark-green.svg);
		background-size: 60%;
	}
}

.ButtonGreenBorder {
	padding: 10px;

	width: 100%;

	background-color: rgba(0, 0, 0, 0.1);
	border: 2px solid var(--button-green);
	border-radius: 5px;
	box-sizing: border-box;

	color: var(--font-color);
	font-weight: 600;
	text-transform: uppercase;

	&:active {
		background-color: rgba(0, 0, 0, 0.25);
	}
}

.ButtonAroundGreen {
	--button-size: 27px;

	position: relative;

	width: var(--button-size);
	height: var(--button-size);

	background-size: 50%;
	background-color: var(--button-green);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
	border-radius: 30px;

	&.IconAdd {
		background-image: url(/src/img/buttons/plus.svg);
		grid-column: 1;
	}
	&.IconStats {
		background-image: url(/src/img/buttons/stats.svg);
		grid-column: 2;
	}

	&:active {
		background-color: var(--button-green-hover);
	}
}

.ButtonBig {
	--font-color: #000;

	padding: 12px 0;
	width: 100%;

	border-radius: 5px;
	box-shadow: var(--common-bh);

	color: var(--button-darkgreen);
	font-size: calc(var(--font-size) + 2px);
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
}

.ButtonBlackTrans {
	padding: 5px 10px;

	display: grid;
	grid-auto-flow: column;
	column-gap: 7px;
	place-items: center;

	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 100px;

	p {
		font-size: calc(var(--font-size) - 2px);
		font-weight: 500;
		line-height: 1;
		letter-spacing: 0.3px;
	}

	&:active {
		background-color: rgba(0, 0, 0, 0.5);
	}
}
/*** *** *** END *** *** ***/





/*** *** *** media *** *** ***/
@media (min-resolution: 250dpi) {
	:root,
	*::after,
	*::before {
		--font-size: 16px;
	}
}

@media (max-width: 520px) {
	#playground {
		width: 100%;
		height: 100%;
	}
}
