@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, hr, button, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  font: inherit;
  font-family: 'Roboto Slab',sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: baseline;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

html, body, iframe {
  width: 100%;
  height: 100%;
  line-height: 1;
}

a, p, span, div, li, h1, h2, h3, h4, h5, h6, label, input, select, option, textarea, button {
  color: var(--font-color);
  font-size: var(--font-size);
  font-family: inherit;
}

p > span {
  font-size: inherit;
  line-height: inherit;
}

button {
  outline: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/RobotoSlab-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/RobotoSlab-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root,
*::after,
*::before {
  --brand-color: #35CA71;
  --brand-color-hover: #2EB062;
  --font-color: #fff;
  --link-color: #168643;
  --font-size: 14px;
  --modal-font-color: #000;
  --button-green: var(--brand-color);
  --button-green-hover: var(--brand-color-hover);
  --button-green-rgb: 53, 202, 113;
  --button-darkgreen: #06371E;
  --button-darkgreen-rgb: 6, 55, 30;
  --button-font-color: #06371E;
  --button-footer-bg: #EEEEEE;
  --button-footer-bg-hover: #D4D4D4;
  --bg-dark: rgba(6, 55, 30, 0.25);
  --bg-dark-ava: rgba(0, 0, 0, 0.2);
  --bg-dark-list: #05672C;
}

*,
*::after,
*::before {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-family: 'Roboto Slab', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-show="0"] {
  display: none;
}

button {
  padding: 0;
  outline: none;
  border: 0;
  background-color: unset;
}

input, select {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

::-webkit-input-placeholder {
  color: var(--font-color);
  opacity: 0.4;
}

:-ms-input-placeholder {
  color: var(--font-color);
  opacity: 0.4;
}

::-ms-input-placeholder {
  color: var(--font-color);
  opacity: 0.4;
}

::placeholder {
  color: var(--font-color);
  opacity: 0.4;
}

:-moz-placeholder {
  color: var(--font-color);
  opacity: 0.4;
}

::-moz-placeholder {
  color: var(--font-color);
  opacity: 0.4;
}

:-ms-input-placeholder {
  color: var(--font-color);
  opacity: 0.4;
}

::-webkit-input-placeholder {
  color: var(--font-color);
  opacity: 0.4;
}

/* ScrollHide */
.ScrollHide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.ScrollHide::-webkit-scrollbar {
  display: none;
}

/* End */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #2f2f2f;
  background-color: papayawhip;
}

.Bold {
  font-weight: 600;
}

.Error {
  color: red !important;
  font-weight: 400;
}

#game-body {
  position: relative;
  height: 100%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

#playground {
  position: relative;
  width: 320px;
  height: 568px;
}

#playground > #root {
  height: 100%;
}

#modal-root {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#modal-root > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*** *** *** Scroll *** *** ***/
* {
  scrollbar-width: thin;
}

::-webkit-resizer,
::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar {
  width: 9px;
  height: 11px;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical {
  border-left: 3px solid rgba(0, 0, 0, 0);
  border-right: 3px solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:horizontal {
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9A9;
}

/* Scroll */
/*::-webkit-scrollbar-button:single-button:start:vertical   { background-image: url(../icons/img/icons/arrows/arrow-scroll-up-666.svg); background-size: 7px; }
::-webkit-scrollbar-button:single-button:end:vertical     { background-image: url(../icons/img/icons/arrows/arrow-scroll-down-666.svg); background-size: 7px; }
::-webkit-scrollbar-button:single-button:start:horizontal { background-image: url(../icons/img/icons/arrows/arrow-scroll-left-666.svg); background-size: 7px; }
::-webkit-scrollbar-button:single-button:end:horizontal   { background-image: url(../icons/img/icons/arrows/arrow-scroll-right-666.svg); background-size: 7px; }
*/
/*** *** *** END *** *** ***/
.CheckBoxButton {
  padding: 8px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
  -webkit-column-gap: 7px;
          column-gap: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(var(--button-darkgreen-rgb), 0.25);
  border-radius: 5px;
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.CheckBoxButton[data-select="1"] {
  border: 2px solid var(--button-green);
  background-color: rgba(var(--button-darkgreen-rgb), 0.5);
}

.CheckBoxButton[data-select="1"] > .CheckBoxButtonIndicator {
  border: 2px solid rgba(var(--button-green-rgb), 1);
}

.CheckBoxButton[data-select="1"] > .CheckBoxButtonIndicator::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  width: 16px;
  height: 16px;
  background-color: var(--button-green);
  border-radius: 3px;
}

.CheckBoxButton > .CheckBoxButtonTitle {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.CheckBoxButton > .CheckBoxButtonIndicator {
  position: relative;
  width: 24px;
  height: 24px;
  border: 2px solid rgba(var(--button-green-rgb), 0.5);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.GeneralSubtitle {
  margin: 12px 0;
  font-size: 15px;
  font-weight: 500;
}

.GeneralSubtitle span {
  text-decoration: underline;
}

.AdditionalTip {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.4;
  text-align: center;
}

.AdditionalTip > span {
  font-weight: 500;
}

.LabelInput {
  margin-bottom: 8px;
}

.LabelInput:last-child {
  margin-bottom: unset;
}

.LabelInput > label {
  margin-bottom: 5px;
  display: block;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.1;
}

/*** Типы элементов формы ***/
/* General */
input.General,
select.General {
  padding: 0 10px;
  width: 100%;
  height: 30px;
  background-color: rgba(var(--button-darkgreen-rgb), 0.5);
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input.General.Date,
select.General.Date {
  background-image: url(../img/icon/calendar.svg);
  background-size: 18px;
  background-position-x: 97%;
}

select.General {
  background-image: url(../img/icon/arrow-down.svg);
  background-size: 12px;
  background-position-x: 96%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type="text"].General.Date {
  background-image: url(../img/icon/calendar-op40.svg);
}

input[type="date"].General::-webkit-calendar-picker-indicator {
  background-image: unset;
  outline: none;
}

/* End */
/* InPopup */
input.InPopup {
  margin-top: 5px;
  padding: 7px 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  font-weight: 300;
}

input.InPopup::-webkit-input-placeholder {
  opacity: 0.6;
}

input.InPopup:-ms-input-placeholder {
  opacity: 0.6;
}

input.InPopup::-ms-input-placeholder {
  opacity: 0.6;
}

input.InPopup::placeholder {
  opacity: 0.6;
}

input.InPopup:-moz-placeholder {
  opacity: 0.6;
}

input.InPopup::-moz-placeholder {
  opacity: 0.6;
}

input.InPopup:-ms-input-placeholder {
  opacity: 0.6;
}

input.InPopup::-webkit-input-placeholder {
  opacity: 0.6;
}

/* End */
/* Avatar */
.Avatar {
  position: relative;
  width: 28px;
  height: 28px;
}

.Avatar img {
  width: 100%;
  height: 100%;
}

/* End */
/* Gamer */
.Gamer {
  --gamer-width: 90px;
  position: relative;
  padding: 2px 5px 7px 5px;
  width: var(--gamer-width);
  height: calc(var(--gamer-width) + 30px);
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-max-content 1fr;
  grid-auto-rows: max-content 1fr;
  row-gap: 4px;
  justify-items: center;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Gamer[data-vip="1"] {
  background-color: #ffd861;
}

.Gamer[data-vip="1"] > p {
  color: #d95454;
}

.Gamer[data-vip="1"] > .IconVip {
  position: absolute;
  top: -5px;
  right: -7px;
  width: 20px;
  height: 22px;
  background-image: url(/src/img/icon/vip.svg);
}

.Gamer > p {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: anywhere;
  overflow: hidden;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
}

.Gamer > img {
  width: 100%;
  height: 100%;
}

.Gamer > .Buttons {
  position: absolute;
  left: 50%;
  bottom: -8px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(var(--gamer-width) + 10px);
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Gamer > .IconJoker {
  position: absolute;
  top: 50%;
  right: -6px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 28px;
  border-radius: 3px;
  background-color: red;
}

/* End */
/*** *** *** Buttons *** *** ***/
.ButtonBack {
  width: 30px;
  height: 30px;
  background-image: url(../img/buttons/left-arrow.svg);
  background-size: 16px;
  background-position: 45%;
  background-color: unset;
  border-radius: 5px;
  border: 1px solid var(--button-green);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ButtonBack:active {
  background-color: var(--button-green-hover);
  border: 1px solid var(--button-green-hover);
}

.ButtonGreen {
  padding: 0 7px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 30px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-column-gap: 7px;
          column-gap: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--button-green);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--button-font-color);
  font-size: 13px;
  font-weight: 500;
}

.ButtonGreen > p {
  color: var(--button-font-color);
  font-size: 13px;
  font-weight: 500;
}

.ButtonGreen:active {
  background-color: var(--button-green-hover);
}

.ButtonGreen.IconMenu {
  background-image: url(/src/img/buttons/menu_dark-green.svg);
  background-size: 60%;
}

.ButtonGreenBorder {
  padding: 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid var(--button-green);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--font-color);
  font-weight: 600;
  text-transform: uppercase;
}

.ButtonGreenBorder:active {
  background-color: rgba(0, 0, 0, 0.25);
}

.ButtonAroundGreen {
  --button-size: 27px;
  position: relative;
  width: var(--button-size);
  height: var(--button-size);
  background-size: 50%;
  background-color: var(--button-green);
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.ButtonAroundGreen.IconAdd {
  background-image: url(/src/img/buttons/plus.svg);
  -ms-grid-column: 1;
  grid-column: 1;
}

.ButtonAroundGreen.IconStats {
  background-image: url(/src/img/buttons/stats.svg);
  -ms-grid-column: 2;
  grid-column: 2;
}

.ButtonAroundGreen:active {
  background-color: var(--button-green-hover);
}

.ButtonBig {
  padding: 0 10px;
  width: 100%;
  height: 40px;
  background: 97% center/16px no-repeat url(/src/img/buttons/right-arrow_dark-green.svg), -webkit-gradient(linear, left top, right top, from(#2EB062), to(var(--brand-color)));
  background: 97% center/16px no-repeat url(/src/img/buttons/right-arrow_dark-green.svg), linear-gradient(90deg, #2EB062 0%, var(--brand-color) 100%);
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  color: var(--button-darkgreen);
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}

.ButtonBig:active {
  background: 97% center/16px no-repeat url(/src/img/buttons/right-arrow_dark-green.svg), -webkit-gradient(linear, left top, right top, from(#279654), to(#2EB062));
  background: 97% center/16px no-repeat url(/src/img/buttons/right-arrow_dark-green.svg), linear-gradient(90deg, #279654 0%, #2EB062 100%);
}

/*** *** *** END *** *** ***/
@media (max-width: 520px) {
  #playground {
    width: 100%;
    height: 100%;
  }
}

.Main {
  --main-margin-top: 0px;
  position: relative;
  margin-top: var(--main-margin-top);
  /* Статус бар */
  padding: 0 10px;
  height: calc(100% - var(--main-margin-top) - 50px);
  /* Статус бар */
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content 1fr max-content;
      grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
      grid-template-rows: max-content 1fr max-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Game {
  position: relative;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#12652f), color-stop(50%, #038d42), to(#0f6e34));
  background: linear-gradient(to bottom, #12652f 0%, #038d42 50%, #0f6e34 100%);
  overflow: hidden;
}

.PageHolder {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.AdHolder {
  --font-color: #000;
  position: relative;
  height: 50px;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.AdHolder select {
  width: 100%;
  height: 100%;
  color: #000;
}

.Welcome {
  margin: 20px 0;
  text-align: center;
}

.Welcome .WelcomeTitle {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.25;
}

.Welcome .WelcomeModulo {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.25;
}

.SignInLanguagePanel {
  -ms-grid-column-align: end;
      justify-self: end;
}

.SignInLanguagePanel .SignInLanguagePanelFlag {
  width: 20px;
  height: 20px;
}

.SignInLanguagePanel .SignInLanguagePanelFlag[data-country="ru"] {
  background-image: url(../img/flags/ru.svg);
}

.SignInLanguagePanel .SignInLanguagePanelFlag[data-country="eng"] {
  background-image: url(../img/flags/usa.svg);
}

.HeadNavigation {
  margin-top: 10px;
  min-height: 30px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: max-content 1fr max-content;
      grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
      grid-template-columns: max-content 1fr max-content;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HeadNavigation[data-column="1"] {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.HeadNavigation[data-column="2"] {
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
}

.HeadNavigation .Title {
  font-size: 18px;
  font-weight: 300;
}

.HeadNavigation .Modulo {
  font-size: 24px;
  font-weight: 600;
}

.HeadNavigation .ButtonGreen.IconMenu {
  width: 30px;
  height: 30px;
}

.ProfileContainer {
  position: absolute;
  right: 10px;
  bottom: 7px;
  width: calc(100% - 10px);
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
  -webkit-column-gap: 7px;
          column-gap: 7px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  pointer-events: none;
}

.ProfileContainer > .Character {
  max-width: 80px;
}

.ProfileContainer > .Character > img {
  width: 100%;
  height: 100%;
}

.ProfileContainer .Userbar {
  --userbar-padding-top: 5px;
  --userbar-padding-left: 7px;
  --userbar-br: 5px;
  position: relative;
  padding: var(--userbar-padding-top) var(--userbar-padding-left);
  width: 100%;
  height: 34px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
  place-items: center;
  background-color: #C92A20;
  border-radius: var(--userbar-br);
  pointer-events: all;
}

.ProfileContainer .Userbar > li {
  position: relative;
  padding: 0 10px;
}

.ProfileContainer .Userbar > li::after {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: '';
  width: 1px;
  height: 70%;
  background-color: #000;
  opacity: 0.25;
}

.ProfileContainer .Userbar > li:last-child::after {
  opacity: 0;
}

.ProfileContainer .Userbar > .ChangeSmile {
  position: relative;
  width: 100%;
  height: 100%;
}

.ProfileContainer .Userbar > .ChangeSmile > .IconSmile {
  position: absolute;
  top: calc(var(--userbar-padding-top) * -1);
  left: calc(var(--userbar-padding-left) * -1);
  width: calc(100% + var(--userbar-padding-left));
  height: calc(100% + var(--userbar-padding-top) * 2);
  background-image: url(/src/img/icon/smile.svg);
  background-size: 24px;
  border-radius: var(--userbar-br) 0 0 var(--userbar-br);
}

.ProfileContainer .Userbar > .ChangeSmile > .IconSmile:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.ProfileContainer .Userbar > .Nickname > p {
  font-weight: 500;
  text-transform: uppercase;
}

.ProfileContainer .Userbar > .Stats {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  place-items: center;
}

.ProfileContainer .Userbar > .Stats > .IconStar {
  width: 12px;
  height: 12px;
  background-image: url(/src/img/icon/star.svg);
}

.ProfileContainer .Userbar > .Stats > p {
  font-weight: 300;
}

.UserTip {
  margin: 15px auto 0 auto;
  padding: 10px 15px;
  width: 95%;
  max-height: 80px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
}

.UserTip > p {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.15px;
}

.FooterArea {
  margin: 10px 0;
}

.FooterArea > button {
  --font-color: #000;
  padding: 10px 0;
  width: 100%;
  background-color: var(--button-footer-bg);
  border-radius: 5px;
  -webkit-box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.FooterArea > button:active {
  background-color: var(--button-footer-bg-hover);
  -webkit-box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.SignIn .Buttons {
  display: -ms-grid;
  display: grid;
  row-gap: 7px;
}

.SignIn .UserTip {
  max-height: 120px;
}

.SignInAuth .UserTip {
  max-height: unset;
}

.SignInAuth .UserTip p {
  font-size: 13px;
}

.SignInAnonim .SignInAnonimImage {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.SignInAnonim .SignInAnonimImage img {
  height: 180px;
}

.SignInAnonim .SignInAnonimTip {
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.SignInAnonim .SignInAnonimSignUp {
  margin-top: 5px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  text-decoration: underline;
}

.GameList {
  --gamelist-margin-top: 12px;
  margin-top: var(--gamelist-margin-top);
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content 1fr;
      grid-template-rows: -webkit-max-content 1fr;
      grid-template-rows: max-content 1fr;
  -ms-flex-line-pack: start;
      align-content: start;
  overflow-y: hidden;
}

.GameList .SubMenu {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.GameList .List {
  padding-bottom: 75px;
  overflow-y: auto;
}

.GameList .List > .Current > ul {
  max-height: 170px;
  overflow-y: auto;
}

.GameList .List > .Finished {
  --finished-margin-top: 12px;
  position: relative;
  margin-top: var(--finished-margin-top);
  margin-bottom: calc(34px + 7px * 2);
  padding-left: 17px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -ms-grid;
  display: grid;
  row-gap: 12px;
  -ms-flex-line-pack: start;
      align-content: start;
}

.GameList .List > .Finished::after {
  position: absolute;
  top: 0;
  left: 5px;
  content: "";
  width: 2px;
  height: 135px;
  background-color: var(--brand-color);
}

.GameList .List > .Finished .Title {
  font-size: 13px;
}

.GameList .List ul {
  display: -ms-grid;
  display: grid;
  row-gap: 5px;
}

.GameList .List ul li {
  display: -ms-grid;
  display: grid;
  background-color: var(--bg-dark-list);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.GameList .List ul li > .ListInfo {
  padding: 5px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: max-content 1fr max-content;
      grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
      grid-template-columns: max-content 1fr max-content;
  place-items: center;
}

.GameList .List ul li > .ListInfo > .PlayerContainer {
  width: 90px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  row-gap: 5px;
  justify-items: center;
  overflow: hidden;
}

.GameList .List ul li > .ListInfo > .PlayerContainer p {
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: anywhere;
  overflow: hidden;
}

.GameList .List ul li > .ListInfo > .PlayerContainer > .Avatar[data-bot="1"] {
  background-image: url(../img/icon/bot.svg);
}

.GameList .List ul li > .ListInfo > .PlayerContainer > .Avatar[data-bot="1"] > img {
  display: none;
}

.GameList .List ul li > .ListInfo > .PlayerContainer[data-win="1"] .Avatar::after {
  position: absolute;
  right: -5px;
  bottom: -3px;
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../img/icon/medal.svg);
}

.GameList .List ul li > .ListInfo > .RoundNameContainer {
  display: -ms-grid;
  display: grid;
  row-gap: 7px;
  justify-items: center;
}

.GameList .List ul li > .ListInfo > .RoundNameContainer p {
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
}

.GameList .List ul li > .ListInfo > .RoundNameContainer > p.Title {
  font-size: 16px;
}

.GameList .List ul li > .ListInfo > .RoundNameContainer .Cup {
  margin-bottom: -3px;
  /* Смещение вниз для визуального расположения по центру*/
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-column-gap: 3px;
          column-gap: 3px;
  place-items: center;
}

.GameList .List ul li > .ListInfo > .RoundNameContainer .Cup > p {
  font-size: 10px;
  font-weight: 300;
}

.GameList .List ul li > .ListInfo > .RoundNameContainer .Cup > .IconCup {
  width: 10px;
  height: 10px;
  background-image: url(../img/icon/cup.svg);
}

.GameList .List ul li > .ListBar {
  position: relative;
  padding: 5px 0 3px 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.GameList .List ul li > .ListBar p {
  font-size: 10px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.GameList .List ul li > .ListBar > .ELO {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.GameList .List ul li > .ListBar > .ELO > p {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  width: 90px;
}

.GameList .List ul li > .ListBar > .ELO > p:nth-child(1) {
  left: 0;
}

.GameList .List ul li > .ListBar > .ELO > p:nth-child(2) {
  right: 0;
}

.GameList .List ul li[data-win="left"] > *:first-child img::after {
  position: absolute;
  right: -5px;
  bottom: -5px;
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(../img/icon/medal.svg);
}

.GameStart .Buttons {
  margin: 20px 0;
  display: -ms-grid;
  display: grid;
  row-gap: 7px;
}

.ModalBG {
  position: absolute;
  top: 0;
  left: 0;
  /*
	! height - вычитается нижние поле AdHolder.
	! Необходимо убрать его после всей вёрстки игры
	*/
  width: 100%;
  height: calc(100% - 50px);
  background-color: rgba(0, 0, 0, 0.6);
}

.Modal {
  position: absolute;
  /*
	* Поднимаем чуть выше середины, чтобы визуально лучше воспринималось
	*/
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  width: calc(100% - 60px);
  max-width: 300px;
  pointer-events: all;
}

.Modal p,
.Modal span,
.Modal label {
  color: var(--modal-font-color);
}

.Modal b {
  font-weight: 500;
}

.Modal p > span {
  display: block;
}

.Modal p > span:nth-child(n + 2) {
  margin-top: 5px;
}

.Modal > *:nth-child(n + 2) {
  margin-top: 12px;
}

.Modal .ModalBody {
  padding: 12px;
  min-height: 40px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
  /* MailCode */
  /* END */
}

.Modal .ModalBody > div > *:nth-child(n + 2) {
  margin-top: 12px;
}

.Modal .ModalBody > div > .Content > *:nth-child(n + 2) {
  margin-top: 7px;
}

.Modal .ModalBody > div > .Content .Title {
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.Modal .ModalBody > div > .Content > p {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.4;
}

.Modal .ModalBody > div > .Content > a {
  display: block;
  color: var(--link-color);
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.Modal .ModalBody > div > .Content > a:active {
  text-decoration: underline;
}

.Modal .ModalBody .MailCode label {
  font-size: 13px;
  font-weight: 500;
}

.Modal .ModalBody .WarningIcon {
  height: 30px;
  background-image: url(/src/img/icon/warning.svg);
}

.Modal > .Buttons {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.Modal > .Buttons > button {
  --font-color: #000;
  position: relative;
  padding: 10px 0;
  width: 100%;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
}

.Modal > .Buttons > button:active {
  background-color: var(--button-footer-bg-hover);
}

.Modal > .Buttons > button::after {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  width: 1px;
  height: 50%;
  background-color: #ccc;
  opacity: 0;
}

.Modal > .Buttons > button:nth-child(n+2)::after {
  opacity: 1;
}

.Modal > .Buttons:active button::after {
  opacity: 0;
}

.FindUser .Search {
  position: relative;
  margin: 12px 0;
}

.FindUser .Search button {
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 29px;
  height: 100%;
  background-image: url(../img/icon/search.svg);
  background-size: 16px;
}

.FindUser .Search button:disabled {
  opacity: 0.4;
}

.FindUser .Players {
  display: -ms-grid;
  display: grid;
  row-gap: 5px;
}

.FindUser .Players > li {
  padding: 5px;
  width: 100%;
  height: 34px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: max-content 1fr max-content;
      grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
      grid-template-columns: max-content 1fr max-content;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg-dark);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.FindUser .Players > li .Avatar {
  width: 24px;
  height: 24px;
  background-color: var(--bg-dark-ava);
  border-radius: 5px;
  overflow: hidden;
}

.FindUser .Players > li p {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: anywhere;
  overflow: hidden;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.FindUser .Players > li button {
  width: 24px;
  height: 100%;
  background-image: url(../img/icon/sword.svg);
  background-size: 18px;
}

.ConditionPage {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content 1fr;
      grid-template-rows: -webkit-max-content 1fr;
      grid-template-rows: max-content 1fr;
  overflow: hidden;
}

.ConditionPage .Content {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.ConditionPage .Content[data-shadow="top"]::after, .ConditionPage .Content[data-shadow="bottom"]::before, .ConditionPage .Content[data-shadow="both"]::after, .ConditionPage .Content[data-shadow="both"]::before {
  display: block;
}

.ConditionPage .Content::after, .ConditionPage .Content::before {
  position: absolute;
  left: 0;
  content: "";
  display: none;
  width: calc(100% - 9px);
  height: 20px;
}

.ConditionPage .Content::after {
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#0b7738), to(rgba(11, 119, 56, 0)));
  background: linear-gradient(#0b7738 0%, rgba(11, 119, 56, 0) 100%);
}

.ConditionPage .Content::before {
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(9, 122, 58, 0)), to(#097a3a));
  background: linear-gradient(rgba(9, 122, 58, 0) 0%, #097a3a 100%);
}

.ConditionPage .Content p {
  height: 100%;
  overflow: auto;
  font-size: 13px;
  font-weight: 300;
  text-align: justify;
}

/******** Игровая область **********/
.Gameground {
  margin-top: 12px;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  row-gap: 20px;
}

.Gameground .FaceToFace {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: max-content 1fr max-content;
      grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
      grid-template-columns: max-content 1fr max-content;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.Gameground .FaceToFace .CurrentInfo {
  display: -ms-grid;
  display: grid;
  row-gap: 3px;
  place-items: center;
}

.Gameground .FaceToFace .CurrentInfo p.Score {
  font-size: 38px;
  font-weight: 300;
  line-height: 1;
}

.Gameground .FaceToFace .CurrentInfo .Status {
  padding: 10px 5px;
  width: 84px;
  height: 64px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr max-content;
      grid-template-rows: 1fr -webkit-max-content;
      grid-template-rows: 1fr max-content;
  row-gap: 4px;
  place-items: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Gameground .FaceToFace .CurrentInfo .Status > .IconStatus {
  width: 32px;
  height: 32px;
  background-size: 32px;
}

.Gameground .FaceToFace .CurrentInfo .Status > .IconStatus.Winner {
  background-image: url(/src/img/gamestatus/winner.svg);
}

.Gameground .FaceToFace .CurrentInfo .Status > .IconStatus.YourTurn {
  background-image: url(/src/img/gamestatus/your-turn.svg);
}

.Gameground .FaceToFace .CurrentInfo .Status > .IconStatus.Waiting {
  background-image: url(/src/img/gamestatus/waiting.svg);
}

.Gameground .FaceToFace .CurrentInfo .Status > p {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: anywhere;
  overflow: hidden;
  color: #fed61f;
  font-size: 11px;
  text-align: center;
}

.Gameground .RoundsContainer {
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
}

.Gameground .RoundsContainer > .Round {
  padding-top: 3px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: max-content 1fr max-content;
      grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
      grid-template-columns: max-content 1fr max-content;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  place-items: center;
  border-top: 1px solid #fff;
}

.Gameground .RoundsContainer > .Round > p {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: anywhere;
  overflow: hidden;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.Gameground .RoundsContainer > .Round > .DigitContainer {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-column-gap: 6px;
          column-gap: 6px;
}

.Gameground .RoundsContainer > .Round > .DigitContainer > p {
  width: 26px;
  height: 26px;
  background-color: var(--brand-color);
  border-radius: 5px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  line-height: 110%;
}

.Gameground .RoundsContainer > .Round > .DigitContainer > p[data-color="red"] {
  background-color: #fd0148;
}

.Gameground .RoundsContainer > .Round > .DigitContainer > p[data-color="green"] {
  background-color: var(--button-green);
}

.Gameground .RoundsContainer > .Round > .DigitContainer > p[data-color="yellow"] {
  background-color: #ddb937;
}

.Gameground .RoundsContainer > .Round[data-active="0"] {
  opacity: 0.3;
}

.Gameground .RoundsContainer > .Round[data-active="0"] > .DigitContainer > p {
  opacity: 0.5;
}

.Gameground .Playground {
  --width: 230px;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  row-gap: 12px;
  justify-items: center;
}

.Gameground .Playground .Card {
  width: 28px;
  height: 44px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px 0.5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px 0.5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.Gameground .Playground .Card.Shirt {
  border: 3px solid #eee;
  background-color: #D95454;
}

.Gameground .Playground .Card.IconPlace {
  background-image: url(/src/img/icon/place-card.svg);
  -webkit-box-shadow: unset;
          box-shadow: unset;
  opacity: 0.5;
}

.Gameground .Playground .Table {
  position: relative;
  padding: 5px 50px;
  width: var(--width);
  display: -ms-grid;
  display: grid;
  row-gap: 12px;
  place-items: center;
  background-color: var(--brand-color);
  border: 6px solid #9C6027;
  border-radius: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px 0.5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 2px 0.5px rgba(0, 0, 0, 0.25);
}

.Gameground .Playground .Table .CardsContainer {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.Gameground .Playground .YourCardsContainer {
  --column-gap: 20px;
  width: var(--width);
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-column-gap: var(--column-gap);
          column-gap: var(--column-gap);
  place-items: center;
  place-content: center;
}

.Gameground .Playground .YourCardsContainer > .RowsContainer {
  width: 100%;
  display: -ms-grid;
  display: grid;
  row-gap: 12px;
}

.Gameground .Playground .YourCardsContainer > .RowsContainer > .Row {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-column-gap: var(--column-gap);
          column-gap: var(--column-gap);
}

.Gameground .Playground .YourCardsContainer > .RowsContainer > .Row > .Card {
  background-color: red;
}

.Gameground > .UserTip {
  margin-top: 20px;
  max-height: 150px;
}

.DigitIcon {
  margin: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.DigitIcon[data-active="0"] {
  background-image: none !important;
}

.DigitIcon[data-digit="2"][data-color="red"] {
  background-image: url(../img/digits/Red2.png);
}

.DigitIcon[data-digit="3"][data-color="red"] {
  background-image: url(../img/digits/Red3.png);
}

.DigitIcon[data-digit="4"][data-color="red"] {
  background-image: url(../img/digits/Red4.png);
}

.DigitIcon[data-digit="5"][data-color="red"] {
  background-image: url(../img/digits/Red5.png);
}

.DigitIcon[data-digit="6"][data-color="red"] {
  background-image: url(../img/digits/Red6.png);
}

.DigitIcon[data-digit="7"][data-color="red"] {
  background-image: url(../img/digits/Red7.png);
}

.DigitIcon[data-digit="8"][data-color="red"] {
  background-image: url(../img/digits/Red8.png);
}

.DigitIcon[data-digit="9"][data-color="red"] {
  background-image: url(../img/digits/Red9.png);
}

.DigitIcon[data-digit="J"][data-color="red"] {
  background-image: url(../img/digits/RedJ.png);
}

.DigitIcon[data-digit="2"][data-color="blue"] {
  background-image: url(../img/digits/Blue2.png);
}

.DigitIcon[data-digit="3"][data-color="blue"] {
  background-image: url(../img/digits/Blue3.png);
}

.DigitIcon[data-digit="4"][data-color="blue"] {
  background-image: url(../img/digits/Blue4.png);
}

.DigitIcon[data-digit="5"][data-color="blue"] {
  background-image: url(../img/digits/Blue5.png);
}

.DigitIcon[data-digit="6"][data-color="blue"] {
  background-image: url(../img/digits/Blue6.png);
}

.DigitIcon[data-digit="7"][data-color="blue"] {
  background-image: url(../img/digits/Blue7.png);
}

.DigitIcon[data-digit="8"][data-color="blue"] {
  background-image: url(../img/digits/Blue8.png);
}

.DigitIcon[data-digit="9"][data-color="blue"] {
  background-image: url(../img/digits/Blue9.png);
}

.DigitIcon[data-digit="J"][data-color="blue"] {
  background-image: url(../img/digits/BlueJ.png);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
