.Main {
	margin-top: 20px; /* Статус бар */
	padding: 0 10px;

	height: calc(100% - 20px); /* Статус бар */

	display: grid;
	grid-template-rows: max-content 1fr max-content;

	box-sizing: border-box;
}

.Game
{
	position: relative;
	width: 320px;
	height: 568px;
	
	display:grid;
	grid-template-rows: 1fr max-content;
	
	background: linear-gradient(to bottom, #12652f 0%,  #038D42 50%  ,   #0f6e34 100%);

	overflow: hidden;
}

.PageHolder
{
	position: relative;
	display: flex;
}

.AdHolder
{
  position: relative;
  height: 50px;
}

.AdHolder select
{
  width: 100%;
  height: 100%;
}



.Welcome
{
	margin: 20px 0;
	text-align: center;
}

.WelcomeTitle
{
	font-size: 22px;
	font-weight: 300;
	line-height: 28px;
}

.WelcomeModulo
{
	font-size: 28px;
	font-weight: 600;
	line-height: 34px;
}

.SignInLanguagePanel
{
	justify-self: end;
}

.SignInLanguagePanelFlag
{
	width: 20px;
	height: 20px;
}

.SignInLanguagePanelFlag[data-country="ru"]
{
	background-image: url(/src/img/flags/ru.svg);
}

.SignInLanguagePanelFlag[data-country="eng"]
{
	background-image: url(/src/img/flags/usa.svg); 
}

.SignInLanguagePanelName
{
	color: var(--button-font-color);
	font-size: 13px;
	font-weight: 500;
}


.HeadNavigation
{
	margin-top: 10px;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: max-content 1fr max-content;
	align-items: center;
}

.HeadNavigation[data-title="none"] {
	grid-template-columns: unset;
}

.HeadNavigationTitle
{
	padding: 0 12px;
	box-sizing: border-box;

	font-size: 18px;
	font-weight: 300;
}







.SignInTip
{
	margin: 15px auto;
	padding: 10px 15px;
	width: 90%;
	max-height: 120px;

	background: rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
	border-radius: 10px;

	text-align: center;
	box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.1); 
	box-sizing: border-box;

	overflow-y: auto;
}

.SignInTip > p
{
	font-size: 15px;
	font-weight: 500;
	line-height: 20px;;
	text-align: center;
	letter-spacing: 0.15px;
}


/* FooterArea */
.FooterArea
{
	margin: 10px 0;
	height: 42px;
}

.FooterArea > button
{
	width: 100%;
	height: 42px;

	background-color: var(--button-footer-bg);
	border-radius: 5px;
	box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.15);

	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}

.FooterArea > button:active
{
	background-color: var(--button-footer-bg-hover);
	box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.3);
}
/* END */


.SignUp  
{
  padding-top:30px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-rows: 27px 38px 58px 58px 58px 58px 58px 1fr 43px ;

}

.SignUpWelcome
{
  color:white;
  text-align: center;
  font-weight: 300;
  margin-top:13px;
  font-size: 20px;
}


.SignUpTip
{
  
  border:none;
  
  line-height: 1.2em;
  text-align:center;
  color:white; 
  align-items: center;
  padding:8px;
  padding-top:16px;  
  font-size: 14px;;
  font-weight: 300;
}




.SignInAuth  
{
  padding-top:30px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-rows: 27px 38px 58px 58px  1fr 43px ;

}

.SignInAuthWelcome
{
  color:white;
  text-align: center;
  font-weight: 300;
  margin-top:13px;
  font-size: 20px;
}


.SignInAuthTip
{
  
  border:none;
  
  line-height: 1.2em;
  text-align:center;
  color:white; 
  align-items: center;
  padding:8px;
  padding-top:16px;  
  font-size: 14px;;
  font-weight: 300;
}









.SignInAnonimImage
{
	display: grid;
	align-items: center;
	justify-items: center;
}

.SignInAnonimImage img
{
	height: 180px;
}


.SignInAnonimTip
{
	margin-top: 10px;

	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
}

.SignInAnonimSignUp
{
	margin-top: 5px;
	
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-decoration: underline;
}

.SignInAnonimTipCondition
{
	margin-top: 15px;
	
	font-weight: 300;
	font-size: 13px;
	line-height: 17px;
	text-align: center;
}





.ConditionPage  
{
  padding-top:30px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-rows: 27px 46px 1fr 43px ;
  position: relative;
}

.ConditionTitle
{
  color:white;
  text-align: center;
  font-weight: 400;
  margin-top:13px;
  font-size: 17px;
}

.ConditionBody
{
  color:white;
  text-align: center;
  font-weight: 300;
  margin-top:13px;
  font-size: 14px;
  overflow-y:scroll;
  height: 340px;
  box-shadow: inset 0 0 2px 2px rgb(0 0 0 / 10%);
}

.ConditionBody  div
{
  height: auto;
  display: block;
  text-align: justify;
  padding: 8px;
  padding-top: 1px;
}



.ModalBody
{
  background-color: white;
  width: 260px;
  min-height: 100px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
}

.ModalBody  .WarningIcon
{
  position: relative;
  background-image: url(/src/img/icon/warning.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  width:100%;
  height:25px;
  
}

.ModalBody .BoldTitle
{
  font-size: 16px;;
  font-weight: 600;
}

.ModalBody > div
{
  margin:7px;
  justify-content: center;
  text-align: center;
}

.ModalBody label
{
  font-weight: 500;
  float: left;
  margin-bottom: 2px;
}

.ModalBody input[type="text"]
{
  width: calc(100% - 12px);
  background-color: rgb(191, 191, 191) ;
  outline: none;
  border: none;
  border-radius: 4px;
  padding:7px;
}

.ModalButtonArea
{
  width: 260px;
  height: 43px;
}

.ModalButtonArea > button
{
  width: 100%;
  height: 100%;
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
  outline: none !important;
  border:1ps solid black;

}
